    {{> head}}

    {{> navbar }}
    
    <div class="row">
        <div class="col-8">
            <h1>Acerca de la app</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit aenean mollis imperdiet, nam natoque platea iaculis hendrerit mi velit fames lectus tortor, metus gravida purus elementum semper fringilla malesuada aliquam justo. Erat fusce a nam curae lobortis pharetra fringilla auctor senectus laoreet dis condimentum, orci vel dapibus at ac rhoncus venenatis placerat iaculis egestas donec. Nulla augue fermentum bibendum vulputate tempor, aliquam cursus odio maecenas potenti praesent, risus facilisis ornare montes.</p>
        </div>
        <div class="col-4">
            <img src="./assets/images/williams-con-proteccion.jpg" class="img-thumbnail"
        </div>
    </div>
  

    {{> footer }}